@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

.client__card-container {
	margin-top: 80px;
	display: flex;
	place-items: center;
	// text-align: center;
	gap: 10px;
	@include respond-to("mobile") {
		flex-direction: column;
	}
}
.client__card-description {
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	color: variable.$secondary-color;
}
.client__designer-name {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
.client__designer {
	font-size: 12px;
	color: variable.$text-color;
	font-weight: 500;
	text-align: left;
}
