@use "../abstract/mixins" as *;
@use "../abstract/variables" as variable;
.footer {
	// padding: 50px 198px;

	width: 100%;
}
.footer__grid-container {
	width: 75%;
	display: grid;
	gap: 30px;
	min-width: 150px;
	grid-template-columns: repeat(auto-fill, (minmax(130px, 1fr)));
}

.footer__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: variable.$text-color;
}
.footer__item-container {
	display: flex;
	width: 100%;
	margin-top: 10px;
	align-items: center;
}
.footer__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
	margin-top: 10px;
	min-width: 150px;
	text-align: left;
	transition-duration: 0.3s;
	&:hover {
		color: variable.$primary-color;
	}
}
.footer__item-right {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
	transition-duration: 0.3s;
	&:hover {
		color: variable.$primary-color;
	}
}

.footer__item-right {
	margin-left: 10px;
}
.footer__column,
.footer__column-right {
	padding: 0 30px;
}
.footer__column-right {
	width: 290px;
}
.footer__column {
}
