@use "../abstract/mixins" as *;
@use "../abstract/variables" as variable;

.home {
	max-width: 1308px;
	margin: auto;
	padding: 0 40px;

	@include respond-to("tablet") {
		padding: 0 30px;
	}
	@include respond-to("laptop") {
		padding: 0 30px;
	}
	@include respond-to("mobile") {
		padding: 0 20px;
	}
	.home__container {
		display: flex;
		margin: auto;
		justify-content: space-between;
		margin: auto;
	}
}
.home__welcome {
	font-size: 16px;
	line-height: 24px;
	color: variable.$primary-color;
	font-weight: 700;
}
.home__herosection {
	margin-top: 50px;
	height: 100%;

	@include respond-to("laptop") {
		width: 100%;
		max-width: 45vw;
	}
	@include respond-to("tablet") {
		width: 100%;
	}

	@include respond-to("mobile") {
		width: 100%;
	}
}
.home__description {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;

	color: variable.$secondary-color;

	width: 520px;
	margin-top: 30px;
	@include respond-to("tablet") {
		max-width: 80%;
	}
	@include respond-to("laptop") {
		max-width: 80vw;
	}

	@include respond-to("mobile") {
		// max-width: 100%;
	}
}
.herosection__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 148px;
}
.herosection__right {
	display: flex;
	flex-direction: row;
	position: relative;

	justify-content: flex-end;

	// align-items: flex-end;
	height: 588px;
	@include respond-to("laptop") {
	}
	@include respond-to("tablet") {
		max-width: 50vw;
	}
	@include respond-to("mobile") {
		display: none;
	}
}
.home__title {
	color: variable.$text-color;
	font-size: 58px;
	line-height: 80px;
	margin-top: 30px;
	font-weight: bold;
	@include respond-to("mobile") {
		font-size: 45px;
		line-height: 50px;
	}
	@include respond-to("small") {
		font-size: 40px;
		line-height: 50px;
	}
}
.home__image-container {
	position: relative;
	width: 441px;
	height: 566px;
	@include respond-to("laptop") {
		max-width: 45vw;
		position: absolute;
		left: 0;
		z-index: -1;
	}
	@include respond-to("tablet") {
		max-width: 80%;
	}
}
.home__image {
	object-fit: cover;
	width: 440px;
	height: 566px;
	@include respond-to("tablet") {
		display: none;
	}
}
.home__button-container {
	display: flex;
	margin-top: 30px;
	@include respond-to("small") {
		flex-direction: column-reverse;
		gap: 5px;
	}
}
.home__shape-container {
	width: 86px;
	margin-top: 0;
	padding-left: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include respond-to("tablet") {
		display: none;
	}
}
