@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

.leading-medicine {
	background-color: variable.$faded-secondary-color-2;
}
.leading-medicine__container {
	display: flex;
}

.leading-medicine__title {
	position: relative;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
	@include respond-to("tablet") {
		padding: 0 30px;
	}
	&:before {
		position: absolute;
		top: -35px;
		content: " ";
		height: 7px;
		width: 94px;
		background-color: variable.$danger-color;
	}
}

.leading-medicine__left,
.leading-medicine__right {
	width: 50%;
}
.leading-medicine__left {
	// margin-top: 34px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include respond-to("tablet") {
		width: 100%;
	}
	@include respond-to("mobile") {
		width: 100%;
	}
}
.leading-medicine__link-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;

	transition-duration: 0.8s;
	@include respond-to("tablet") {
		padding: 0 30px;
	}
}
.leading-medicine__link-container {
	display: flex;
	width: 155px;
	height: 24px;
	justify-content: space-between;
	transition-duration: 0.8s;
	align-items: center;
	transition-timing-function: linear;
	&:hover {
		transform: scale(1.1);
	}
	&:hover .leading-medicine__link-text {
		transform: translateX(20%);
	}
	&:hover .leading-medicine__link-image {
		display: none;
	}
}
.leading-medicine__right {
	position: relative;
	display: flex;
	@include respond-to("laptop") {
	}
	@include respond-to("tablet") {
	}
	@include respond-to("mobile") {
		display: none;
	}
}
.leading-medicine__testube-image {
	position: absolute;
	right: -82px;
	object-fit: contain;
	overflow: hidden;
}
.leading-medicine__testube-image-container {
	position: relative;
	height: 396px;
	width: 338px;
	margin-top: 0px;
	background-image: url(../assets/rectangularbackground.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	@include respond-to("laptop") {
		max-width: 80%;
	}

	&::after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 34px;
		width: 58px;
		background-color: #fef3d9;
		z-index: 1;
		border-radius: 100px 100px 0 0;
	}
}
.leading-medicine__description {
	width: 351px;
	height: 60px;
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;

	margin-top: 35px;
}
