@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

.activity__card-container {
	position: relative;
	margin-top: 80px;
	display: flex;
	align-items: center;
	gap: 30.5px;
	justify-content: center;
	@include respond-to("laptop") {
		gap: 15px;
		padding: 0 30px;
	}
	@include respond-to("mobile") {
		flex-direction: column;
	}
	@include respond-to("small") {
		gap: 15px;
		padding: 0 10px;
	}
}
.activity__card-title {
	font-weight: 700;
	size: 16px;
	line-height: 24px;
}
.activity__card-description {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 20px;
}
