@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

.specialize__container {
}
.specialize__card-container {
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	@include respond-to("tablet") {
		padding: 0 30px;
		flex-direction: column;
	}
}
.specialize__info-container {
	display: flex;
	height: 46px;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.specialize__sale {
	font-size: 14px;
	font-weight: bold;
	color: variable.$light-text-color;
}
.specialize__department-text {
	color: variable.$primary-color;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
.specialize__rating {
	font-size: 12px;
	line-height: 16px;
	color: variable.$light-text-color;
}
.specialize__card-title {
	font-size: 16px;
	line-height: 24px;
	color: variable.$text-color;
}
.specialize__card-description {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
}
.specialize__sales-text {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
}
.specialize__price-grey {
	font-size: 16px;
	line-height: 24px;
	color: variable.$muted-color;
	font-weight: 700;
}
.specialize__price-green {
	font-size: 16px;
	line-height: 24px;
	color: variable.$secondary-color-1;
	font-weight: 700;
}
.specialize__info {
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: variable.$secondary-color;
}
.specialize__button-rectangle {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
@media (max-width: 1120px) {
	.specialize__card-container {
		padding: 0 30px;
		flex-direction: column;
	}
}
