@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

* {
	font-family: variable.$font;
}
::placeholder {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 28px;
	font-family: variable.$font;
}

.practice-advice {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
	margin: 10px 0;
	@include respond-to("tablet") {
		padding: 0 30px;
	}
	@include respond-to("small") {
		padding: 0 20px;
	}
}
.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
	margin-top: 10px;
	@include respond-to("tablet") {
		padding: 0 30px;
	}
	@include respond-to("small") {
		padding: 0 20px;
		max-width: 280px;
	}
}
.description {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin: 10px 0;
	margin: 10px 0;
	font-weight: 500;
	max-width: 100%;
	// padding-left: 20px;

	@include respond-to("tablet") {
		padding: 0 30px;
	}
	@include respond-to("small") {
		padding: 0 20px;
	}
}
.description-center {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;

	width: 469px;
	margin: auto;
	margin-top: 10px;
	font-weight: 500;
	@include respond-to("mobile") {
		max-width: 80vw;
	}
	@include respond-to("tablet") {
		padding: 0 30px;
	}
}
// @media (max-width: 1120px) {
// 	.description-center,
// 	.description,
// 	.title,
// 	.practice-advice,
// 	.leading-medicine__link-text {
// 		padding: 0 30px;
// 		flex-direction: column;
// 	}
// }
