@use "../abstract/variables" as variable;

// activity section

.activity__card {
	// padding: 40px 42.5px;
	height: 288px;
	width: 328px;
	box-shadow: 0px 13px 19px 0px #00000012;
}
.activity__card-image {
	margin-top: 40px;
	margin-left: 42.5px;
}
.activity__card-title {
	margin-left: 42.5px;
	margin-top: 25px;
	position: relative;
	&:after {
		position: absolute;
		bottom: -20px;
		content: " ";
		height: 2px;
		width: 50px;
		left: 0;
		background-color: variable.$danger-color;
	}
}
.activity__card-description {
	margin-left: 42.5px;
	margin-top: 40px;
	width: 132px;
	height: 60px;
	font-weight: 400;
}

// specialize section

.specialize__card {
	height: 678px;
	width: 348px;
}
.specialize__image-container {
	height: 300px;
	width: 348px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 348px 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&--first {
		background-image: url("../assets/specialize1.png");
	}
	&--first {
		background-image: url("../assets/specialize1.png");
	}
	&--second {
		background-image: url("../assets/specialize2.png");
	}
	&--third {
		background-image: url("../assets/specialize3.png");
	}
}

.specialize__button-container {
	display: flex;
	justify-content: center;
}
.specialize__text-container {
	padding: 25px;
}
.specialize__department-container {
	display: flex;
	justify-content: space-between;
}
.specialize__rating {
	width: 50px;
	height: 26px;
	border-radius: 20px;
	background-color: variable.$dark-background-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5.5px;
}
.specialize__card-title {
	margin-top: 11px;
}
.specialize__card-description {
	width: 280px;
	height: 60px;
}
.specialize__sales-container {
	margin-top: 14px;
}
.specialize__sales-text {
	margin-left: 10px;
}

//pricing

.pricing__card {
	height: 908px;
	width: 323px;
	padding: 50px 40.5px;
	box-shadow: 0px 5px 10px rgba(black, 0.3);
	position: relative;
	&:nth-child(2)::after {
		position: absolute;
		content: "New";
		background-color: variable.$alert_color;
		top: 0px;
		right: 0;
		transform: translateX(30%);
		height: 90px;
		width: 89px;
		border-radius: 52px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		display: grid;
		place-items: center;
		color: variable.$light-text-color;
	}
}
.pricing__card-title {
	margin-top: 35px;
}
.pricing__card-description-bold {
	width: 203px;
	height: 48px;
	margin-top: 35px;
}
.pricing__price {
	margin-top: 35px;
}
.pricing__card-description-regular {
	width: 200px;
	height: 60px;
	margin-top: 35px;
}
.pricing__list-container {
	margin-top: 19px;
}
.pricing__list {
	margin-top: 19px;
	height: 32px;
	display: flex;
	align-items: center;
}
.pricing__list-text {
	margin-left: 10px;
}

//client

.client__card {
	width: 348px;
	height: 317px;
	padding-top: 55px;
}
.client__star-container {
	display: flex;

	justify-content: space-between;
	height: 22px;
	width: 130px;
	margin: auto;
}
.client__card-description {
	width: 159px;
	height: 120px;
	margin: auto;
	margin-top: 15px;
}
.client__name-container {
	display: flex;
	height: 50px;
	width: 159px;
	margin: auto;
	margin-top: 30px;
}
.client__image {
	margin-right: 15px;
}
.client__designer {
	font-size: 12px;
	line-height: 16px;
	color: variable.$text-color;
}
