@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;
.home__shape-topleft {
	height: 177px;
	width: 112px;
	background-color: variable.$faded-primary-color;
	position: absolute;
	top: 0px;
	border-radius: 0 0 50% 0;
	left: 0;
	z-index: -1;
}
.home__shape-topright {
	height: 700px;
	width: 604px;
	background-color: variable.$faded-primary-color;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;

	border-radius: 0 0 0 100px;
	@include respond-to("tablet") {
		max-width: 50%;
	}
	@include respond-to("mobile") {
		display: none;
	}
}
.home__shape-lightblue {
	height: 70px;
	width: 70px;
	background: #e2f6ff;
	border-radius: 0 100% 0 0;
	@include respond-to("laptop") {
		display: none;
	}
	@include respond-to("tablet") {
		display: none;
	}
}
.home__shape-pink {
	background-color: #ffdce0;
	height: 76px;
	width: 45px;
	margin-bottom: 21.5px;
	border-radius: 0 75 75 0;
	@include respond-to("laptop") {
		display: none;
	}
	@include respond-to("tablet") {
		display: none;
	}
}
