.home {
  max-width: 1308px;
  margin: auto;
}

.home__container {
  width: calc(100% - 132px);
  height: calc(100% - 160px);
  float: right;
  display: flex;
}
@media (max-width: 767px) {
  .home__container {
    width: calc(100% - 20px);
  }
}
@media (max-width: 992px) {
  .home__container {
    width: calc(100% - 50px);
  }
}
@media (max-width: 1200px) {
  .home__container {
    width: calc(100% - 50px);
  }
}

.home__welcome {
  font-size: 16px;
  line-height: 24px;
  color: #23a6f0;
  font-weight: 700;
}

.home__herosection {
  width: 50%;
  margin-top: 50px;
  height: 100%;
  position: relative;
}
@media (max-width: 1200px) {
  .home__herosection {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .home__herosection {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .home__herosection {
    width: 100%;
  }
}

.home__description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #737373;
  width: 520px;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .home__description {
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .home__description {
    max-width: 100%;
  }
}

.herosection__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herosection__right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
  height: 588px;
}
@media (max-width: 992px) {
  .herosection__right {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .herosection__right {
    display: none;
  }
}

.home__title {
  color: #252b42;
  font-size: 58px;
  line-height: 80px;
  margin-top: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .home__title {
    font-size: 45px;
    line-height: 50px;
  }
}

.home__image {
  position: relative;
  background-image: url(../assets/heroimage.png);
  width: 441px;
  height: 566px;
}
@media (max-width: 1200px) {
  .home__image {
    max-width: 80%;
  }
}
@media (max-width: 992px) {
  .home__image {
    margin-right: 0;
  }
}

.home__button-container {
  display: flex;
  margin-top: 30px;
}

.home__shape-container {
  width: 86px;
  margin-top: 0;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity__card-container {
  position: relative;
  margin-top: 80px;
  display: grid;
  place-items: center;
  gap: 30.5px;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
}

.activity__card-title {
  font-weight: 700;
  size: 16px;
  line-height: 24px;
}

.activity__card-description {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}

.leading-medicine {
  background-color: #ffdcd1;
}

.leading-medicine__container {
  display: flex;
}

.leading-medicine__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b42;
}
.leading-medicine__title:before {
  position: absolute;
  top: -35px;
  content: " ";
  height: 7px;
  width: 94px;
  background-color: #e74040;
}

.leading-medicine__left,
.leading-medicine__right {
  width: 50%;
}

.leading-medicine__left {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .leading-medicine__left {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .leading-medicine__left {
    width: 100%;
  }
}

.leading-medicine__link-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.leading-medicine__link-container {
  display: flex;
  margin-top: 35px;
  width: 101px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}

.leading-medicine__right {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .leading-medicine__right {
    display: none;
  }
}

.leading-medicine__testube-image {
  position: absolute;
  right: -82px;
  object-fit: contain;
  overflow: hidden;
}

.leading-medicine__testube-image-container {
  position: relative;
  height: 396px;
  width: 338px;
  margin-top: 160px;
  background-image: url(../assets/rectangularbackground.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (max-width: 1200px) {
  .leading-medicine__testube-image-container {
    max-width: 80%;
  }
}
.leading-medicine__testube-image-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 34px;
  width: 58px;
  background-color: #fef3d9;
  z-index: 1;
  border-radius: 100px 100px 0 0;
}

.leading-medicine__description {
  width: 351px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin-top: 35px;
}

.specialize__container {
  height: 100%;
  width: 100%;
}

.specialize__card-container {
  margin-top: 80px;
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.specialize__info-container {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.specialize__sale {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.specialize__department-text {
  color: #23a6f0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.specialize__rating {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.specialize__card-title {
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.specialize__card-description {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.specialize__sales-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.specialize__price-grey {
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;
  font-weight: 700;
}

.specialize__price-green {
  font-size: 16px;
  line-height: 24px;
  color: #40bb15;
  font-weight: 700;
}

.specialize__info {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #737373;
}

.specialize__button-rectangle {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.pricing__container {
  height: 100%;
  width: 100%;
}

.pricing__card-container {
  position: relative;
  margin-top: 80px;
  display: grid;
  place-items: center;
  gap: 30.5px;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
}

.pricing__card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
}

.pricing__card-description-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.pricing__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #23a6f0;
}

.pricing__price-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.pricing__card-description-regular {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.pricing__button {
  font-weight: 700;
  size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.pricing__list-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.client__card-container {
  margin-top: 80px;
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.client__card-description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}

.client__designer-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.joinus__input-container {
  width: 686px;
  margin: auto;
  margin-top: 80px;
  max-width: 80%;
}

.joinus__input-text {
  width: 571px;
  max-width: 60%;
  height: 58px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #f9f9f9;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}

.joinus {
  text-align: center;
}

.footer {
  width: 100%;
}

.footer__grid-container {
  width: 75%;
  display: grid;
  gap: 30px;
  min-width: 130px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.footer__item-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.footer__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  margin: 10px 0;
}

.footer__item-right {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.footer__item,
.footer__item-right {
  margin-left: 10px;
}

.footer__column-right {
  width: 290px;
}

.footer2 {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  justify-content: space-between;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .footer2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer2__social-icons {
  margin: 0 10px;
  cursor: pointer;
}
.footer2__social-icons:hover > img {
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

.footer2__icon-container {
  min-width: 140px;
}
@media (max-width: 767px) {
  .footer2__icon-container {
    margin-top: 20px;
  }
}

.navbar {
  max-width: 1044px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 91px;
}
@media (max-width: 992px) {
  .navbar {
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .navbar {
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .navbar {
    max-width: 90%;
  }
}

.navbar__burger-container {
  height: 35px;
  width: 50px;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 10px;
  display: none;
}
@media (max-width: 992px) {
  .navbar__burger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.navbar__burger-line {
  height: 3px;
  border-radius: 5px;
  width: 100%;
  background-color: #252b42;
}

.navbar__container {
  display: flex;
  align-items: center;
}

.navbar__left {
  display: flex;
  color: #737373;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .navbar__left {
    flex-direction: column;
  }
}

.navbar__list-container {
  display: flex;
  margin-left: 50px;
  width: 275px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .navbar__list-container {
    flex-direction: column;
    margin: auto;
    display: none;
  }
}

.navbar__list-container-small {
  display: flex;
  margin-left: 50px;
  width: 275px;
  opacity: 0;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .navbar__list-container-small {
    flex-direction: column;
    margin: auto;
    width: 80vw;
    margin-top: 10px;
  }
}

.navbar__list {
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 992px) {
  .navbar__list {
    background-color: #ffffff;
    width: 100%;
  }
}
.navbar__list::before {
  content: " ";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: #23a6f0;
  transition: 0.3s linear;
  transform-origin: right;
  right: 0;
}
.navbar__list:hover::before {
  width: 100%;
  left: 0;
}
@media (max-width: 992px) {
  .navbar__list:hover::before {
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    right: 50%;
  }
}
@media (max-width: 992px) {
  .navbar__list {
    margin: 15px;
    position: relative;
    text-align: center;
  }
  .navbar__list::after {
    content: " ";
    height: 1px;
    opacity: 0.8;
    background-color: #252b42;
    width: 25%;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar__right {
  display: flex;
  width: 300px;
}
@media (max-width: 992px) {
  .navbar__right {
    flex-direction: column;
    width: 80vw;
    display: none;
    background-color: #ffffff;
  }
}

.navbar__right-small {
  display: flex;
  width: 300px;
  display: none;
}
@media (max-width: 992px) {
  .navbar__right-small {
    flex-direction: column;
    width: 80vw;
    background-color: #ffffff;
  }
}

.navbar__logo {
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 992px) {
  .navbar__logo {
    margin-top: 20px;
  }
}

.navbar__login {
  color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .navbar__login {
    margin: 5px;
  }
}

.navbar__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

* {
  font-family: "montserrat";
}

::placeholder {
  color: #737373;
  font-size: 14px;
  line-height: 28px;
  font-family: "montserrat";
  padding-left: 20px;
}

.practice-advice {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
  margin: 10px 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b42;
  margin: 10px 0;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin: 10px 0;
  margin: 10px 0;
  width: 469px;
}
@media (max-width: 767px) {
  .description {
    max-width: 80%;
  }
}

.description-center {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin: 10px 0;
  margin: 10px 0;
  width: 469px;
  margin: auto;
  max-width: 80%;
}

.navbar__button {
  position: relative;
  z-index: 1;
  width: 137px;
  height: 52px;
  background-color: #23a6f0;
  opacity: 1;
  margin: auto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.home__button-primary {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #23a6f0;
  height: 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 10px;
  width: 193px;
}
.home__button-primary:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
}

.home__button-white {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 162px;
  height: 52px;
  border: 1px solid #23a6f0;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  color: #23a6f0;
}
.home__button-white:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
}

.specialize__button-circle {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 45px;
  display: grid;
  place-items: center;
  margin: 0px 5px;
}

.specialize__button-rectangle {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 44px;
  width: 141.14px;
  border-radius: 37px;
  border: 1px solid #23a6f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  margin-top: 10px;
}

.pricing__button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 52px;
  width: 243px;
  display: grid;
  place-items: center;
  background-color: #23a6f0;
  border-radius: 5px;
}

.joinus__button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  background-color: #23a6f0;
  color: #ffffff;
  height: 58px;
  width: 110px;
  max-width: 30%;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 100vw;
  margin: auto;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

.home__shape-topleft {
  height: 177px;
  width: 7.5vw;
  background-color: #b2e3ff;
  position: absolute;
  top: 0px;
  border-radius: 0 0 50% 0;
  left: 0;
  z-index: -1;
}

.home__shape-topright {
  height: 700px;
  width: 50vw;
  background-color: #b2e3ff;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100px;
}
@media (max-width: 992px) {
  .home__shape-topright {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .home__shape-topright {
    display: none;
  }
}

.home__shape-lightblue {
  height: 70px;
  width: 70px;
  background: #e2f6ff;
  border-radius: 0 100% 0 0;
}
@media (max-width: 1200px) {
  .home__shape-lightblue {
    display: none;
  }
}
@media (max-width: 992px) {
  .home__shape-lightblue {
    display: none;
  }
}

.home__shape-pink {
  background-color: #ffdce0;
  height: 76px;
  width: 45px;
  margin-bottom: 21.5px;
  border-radius: 0 75 75 0;
}
@media (max-width: 1200px) {
  .home__shape-pink {
    display: none;
  }
}
@media (max-width: 992px) {
  .home__shape-pink {
    display: none;
  }
}

.home__popup-square {
  position: absolute;
  right: 363px;
  top: 122px;
  z-index: 1;
}
@media (max-width: 992px) {
  .home__popup-square {
    display: none;
  }
}

.popup__list-left {
  font-size: 10px;
  color: #b2e3ff;
  font-weight: 500;
  line-height: 15px;
}

.home__popup-rectangle {
  position: absolute;
  right: 184.5px;
  bottom: 0px;
  z-index: 1;
}
@media (max-width: 992px) {
  .home__popup-rectangle {
    display: none;
  }
}

.leading-medicine__popup-rectangle {
  position: absolute;
  top: 325px;
  left: 78px;
  height: 110px;
  width: 362px;
}
@media (max-width: 992px) {
  .leading-medicine__popup-rectangle {
    display: none;
  }
}

.leading-medicine__popup-square {
  position: absolute;
  left: 282px;
  top: 48px;
}
@media (max-width: 992px) {
  .leading-medicine__popup-square {
    display: none;
  }
}

.specialize__sale {
  background-color: #e74040;
  width: 51px;
  height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1019607843);
  display: grid;
  place-items: center;
  border-radius: 4px;
}

.popup__list-left-active {
  font-size: 13px;
  line-height: 15px;
  color: #23a6f0;
  font-weight: 500;
}

.popup__list-container-right {
  font-size: 13px;
  color: #b2e3ff;
  font-weight: 300;
  line-height: 15px;
}

.activity__card {
  height: 288px;
  width: 328px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
}

.activity__card-image {
  margin-top: 40px;
  margin-left: 42.5px;
}

.activity__card-title {
  margin-left: 42.5px;
  margin-top: 25px;
  position: relative;
}
.activity__card-title:after {
  position: absolute;
  bottom: -20px;
  content: " ";
  height: 2px;
  width: 50px;
  left: 0;
  background-color: #e74040;
}

.activity__card-description {
  margin-left: 42.5px;
  margin-top: 40px;
  width: 132px;
  height: 60px;
  font-weight: 400;
}

.specialize__card {
  height: 678px;
  width: 348px;
}

.specialize__image-container {
  height: 300px;
  width: 348px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 348px 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.specialize__image-container--first {
  background-image: url("../assets/specialize1.png");
}
.specialize__image-container--first {
  background-image: url("../assets/specialize1.png");
}
.specialize__image-container--second {
  background-image: url("../assets/specialize2.png");
}
.specialize__image-container--third {
  background-image: url("../assets/specialize3.png");
}

.specialize__button-container {
  display: flex;
  justify-content: center;
}

.specialize__text-container {
  padding: 25px;
}

.specialize__department-container {
  display: flex;
  justify-content: space-between;
}

.specialize__rating {
  width: 50px;
  height: 26px;
  border-radius: 20px;
  background-color: #252b42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5px;
}

.specialize__card-title {
  margin-top: 11px;
}

.specialize__card-description {
  width: 280px;
  height: 60px;
}

.specialize__sales-container {
  margin-top: 14px;
}

.specialize__sales-text {
  margin-left: 10px;
}

.pricing__card {
  height: 908px;
  width: 323px;
  padding: 50px 40.5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.pricing__card:nth-child(2)::after {
  position: absolute;
  content: "New";
  background-color: #e77c40;
  top: 0px;
  right: 0;
  transform: translateX(30%);
  height: 90px;
  width: 89px;
  border-radius: 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: grid;
  place-items: center;
  color: #ffffff;
}

.pricing__card-title {
  margin-top: 35px;
}

.pricing__card-description-bold {
  width: 203px;
  height: 48px;
  margin-top: 35px;
}

.pricing__price {
  margin-top: 35px;
}

.pricing__card-description-regular {
  width: 200px;
  height: 60px;
  margin-top: 35px;
}

.pricing__list-container {
  margin-top: 19px;
}

.pricing__list {
  margin-top: 19px;
  height: 32px;
  display: flex;
  align-items: center;
}

.pricing__list-text {
  margin-left: 10px;
}

.client__card {
  width: 348px;
  height: 317px;
  padding-top: 55px;
}

.client__star-container {
  display: flex;
  justify-content: space-between;
  height: 22px;
  width: 130px;
  margin: auto;
}

.client__card-description {
  width: 159px;
  height: 120px;
  margin: auto;
  margin-top: 15px;
}

.client__name-container {
  display: flex;
  height: 50px;
  width: 159px;
  margin: auto;
  margin-top: 30px;
}

.client__image {
  margin-right: 15px;
}

.client__designer {
  font-size: 12px;
  line-height: 16px;
  color: #252b42;
}

.container {
  max-width: 1045px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 667px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 400px;
    margin: auto;
  }
}

.activity__container,
.leading-medicine__container,
.specialize__container,
.pricing__container,
.client__container,
.joinus__container {
  padding: 160px 0;
}

.footer__container {
  padding: 50px 0;
}

.footer2__container {
  padding: 25px 0;
}
