.home {
  max-width: 1308px;
  margin: auto;
  padding: 0 30px;
}

.home__container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 767px) {
  .home__container {
    width: calc(100% - 20px);
  }
}
@media (max-width: 1126px) {
  .home__container {
    width: calc(100% - 50px);
  }
}
@media (max-width: 1200px) {
  .home__container {
    justify-content: unset;
  }
}

.home__welcome {
  font-size: 16px;
  line-height: 24px;
  color: #23a6f0;
  font-weight: 700;
}

.home__herosection {
  margin-top: 50px;
  height: 100%;
}
@media (max-width: 1200px) {
  .home__herosection {
    width: 100%;
    max-width: 45vw;
  }
}
@media (max-width: 1126px) {
  .home__herosection {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .home__herosection {
    width: 100%;
  }
}

.home__description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #737373;
  width: 520px;
  margin-top: 30px;
}
@media (max-width: 1126px) {
  .home__description {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .home__description {
    max-width: 80vw;
  }
}
@media (max-width: 767px) {
  .home__description {
    max-width: 100%;
  }
}

.herosection__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 148px;
}

.herosection__right {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  height: 588px;
}
@media (max-width: 1126px) {
  .herosection__right {
    max-width: 50vw;
  }
}
@media (max-width: 767px) {
  .herosection__right {
    display: none;
  }
}

.home__title {
  color: #252b42;
  font-size: 58px;
  line-height: 80px;
  margin-top: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .home__title {
    font-size: 45px;
    line-height: 50px;
  }
}

.home__image-container {
  position: relative;
  width: 441px;
  height: 566px;
}
@media (max-width: 1200px) {
  .home__image-container {
    max-width: 45vw;
    position: absolute;
    left: 0;
    z-index: -1;
  }
}
@media (max-width: 1126px) {
  .home__image-container {
    max-width: 80%;
  }
}

.home__image {
  object-fit: cover;
  width: 440px;
  height: 566px;
}
@media (max-width: 1126px) {
  .home__image {
    display: none;
  }
}

.home__button-container {
  display: flex;
  margin-top: 30px;
}

.home__shape-container {
  width: 86px;
  margin-top: 0;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1126px) {
  .home__shape-container {
    display: none;
  }
}

.activity__card-container {
  position: relative;
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 30.5px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .activity__card-container {
    gap: 15px;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .activity__card-container {
    flex-direction: column;
  }
}

.activity__card-title {
  font-weight: 700;
  size: 16px;
  line-height: 24px;
}

.activity__card-description {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}

.leading-medicine {
  box-sizing: border-box;
  background-color: #ffdcd1;
}

.leading-medicine__container {
  display: flex;
}

.leading-medicine__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b42;
}
@media (max-width: 1126px) {
  .leading-medicine__title {
    padding: 0 30px;
  }
}
.leading-medicine__title:before {
  position: absolute;
  top: -35px;
  content: " ";
  height: 7px;
  width: 94px;
  background-color: #e74040;
}

.leading-medicine__left,
.leading-medicine__right {
  width: 50%;
}

.leading-medicine__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.leading-medicine__link-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
  transition-duration: 0.8s;
}
@media (max-width: 1126px) {
  .leading-medicine__link-text {
    padding: 0 30px;
  }
}

.leading-medicine__link-container {
  display: flex;
  width: 155px;
  height: 24px;
  justify-content: space-between;
  transition-duration: 0.4s;
  align-items: center;
  transition-timing-function: linear;
}
.leading-medicine__link-container:hover {
  transform: scale(1.1);
}
.leading-medicine__link-container:hover .leading-medicine__link-text {
  transform: translateX(20%);
}
.leading-medicine__link-container:hover .leading-medicine__link-image {
  display: none;
}

.leading-medicine__right {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .leading-medicine__right {
    display: none;
  }
}

.leading-medicine__testube-image {
  position: absolute;
  right: -82px;
  object-fit: contain;
  overflow: hidden;
}

.leading-medicine__testube-image-container {
  position: relative;
  height: 396px;
  width: 338px;
  margin-top: 0px;
  background-image: url(../assets/rectangularbackground.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (max-width: 1200px) {
  .leading-medicine__testube-image-container {
    margin-right: 30px;
  }
}
.leading-medicine__testube-image-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 34px;
  width: 58px;
  background-color: #fef3d9;
  z-index: 1;
  border-radius: 100px 100px 0 0;
}

.leading-medicine__description {
  width: 351px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin-top: 35px;
}

.specialize__card-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1200px) {
  .specialize__card-container {
    gap: 5px;
  }
}
@media (max-width: 1126px) {
  .specialize__card-container {
    padding: 0 30px;
    flex-direction: column;
  }
}

.specialize__info-container {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.specialize__sale {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.specialize__department-text {
  color: #23a6f0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .specialize__department-text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 1126px) {
  .specialize__department-text {
    font-size: 18px;
    line-height: 28px;
  }
}

.specialize__rating {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
@media (max-width: 1126px) {
  .specialize__rating {
    font-size: 14px;
    line-height: 20px;
  }
}

.specialize__card-title {
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}
@media (max-width: 767px) {
  .specialize__card-title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1126px) {
  .specialize__card-title {
    font-size: 18px;
    line-height: 28px;
  }
}

.specialize__card-description {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
@media (max-width: 1126px) {
  .specialize__card-description {
    font-size: 16px;
    line-height: 24px;
  }
}

.specialize__sales-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
@media (max-width: 1126px) {
  .specialize__sales-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.specialize__price-grey {
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;
  font-weight: 700;
}
@media (max-width: 1126px) {
  .specialize__price-grey {
    font-size: 18px;
    line-height: 28px;
  }
}

.specialize__price-green {
  font-size: 16px;
  line-height: 24px;
  color: #40bb15;
  font-weight: 700;
}
@media (max-width: 1126px) {
  .specialize__price-green {
    font-size: 18px;
    line-height: 28px;
  }
}

.specialize__info {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #737373;
}
@media (max-width: 1126px) {
  .specialize__info {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  .specialize__info {
    font-size: 12px;
    line-height: 16px;
  }
}

.specialize__button-rectangle {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.pricing__container {
  height: 100%;
  width: 100%;
}

.pricing__card-container {
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30.5px;
}
@media (max-width: 1200px) {
  .pricing__card-container {
    gap: 20.5px;
    padding: 30px;
  }
}
@media (max-width: 1126px) {
  .pricing__card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.pricing__card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
}
@media (max-width: 1126px) {
  .pricing__card-title {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .pricing__card-title {
    font-size: 24px;
  }
}

.pricing__card-description-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
@media (max-width: 1126px) {
  .pricing__card-description-bold {
    font-size: 18px;
  }
}

.pricing__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #23a6f0;
}
@media (max-width: 1126px) {
  .pricing__price {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .pricing__price {
    font-size: 40px;
  }
}

.pricing__price-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8ec2f2;
}
@media (max-width: 1126px) {
  .pricing__price-description {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .pricing__price-description {
    font-size: 14px;
    line-height: 24px;
  }
}

.pricing__card-description-regular {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #737373;
}
@media (max-width: 1126px) {
  .pricing__card-description-regular {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .pricing__card-description-regular {
    font-size: 14px;
    line-height: 24px;
  }
}

.pricing__button {
  font-weight: 700;
  size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.pricing__list-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.client__card-container {
  margin-top: 80px;
  display: flex;
  place-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .client__card-container {
    flex-direction: column;
  }
}

.client__card-description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}

.client__designer-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
}

.client__designer {
  font-size: 12px;
  color: #252b42;
  font-weight: 500;
  text-align: left;
}

.joinus__input-container {
  margin: auto;
  margin-top: 80px;
  max-width: 80vw;
  display: flex;
  justify-content: center;
}

.joinus__input-text {
  width: 571px;
  height: 58px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #f9f9f9;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
  padding-left: 30px;
  font-weight: 500;
}

.joinus {
  text-align: center;
}

.footer {
  width: 100%;
}

.footer__grid-container {
  width: 75%;
  display: grid;
  gap: 30px;
  min-width: 150px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.footer__item-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.footer__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  margin-top: 10px;
  min-width: 150px;
  text-align: left;
  outline: 1px solid re;
}

.footer__item-right {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.footer__item-right {
  margin-left: 10px;
}

.footer__column,
.footer__column-right {
  padding: 0 30px;
}

.footer__column-right {
  width: 290px;
}

.footer2__container {
  color: #737373;
  background-color: #fafafa;
}

.footer2 {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  justify-content: space-between;
}
@media (max-width: 1126px) {
  .footer2 {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .footer2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer2__social-icons {
  margin: 0 10px;
  cursor: pointer;
}
.footer2__social-icons:hover > img {
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

.footer2__icon-container {
  min-width: 140px;
}
@media (max-width: 767px) {
  .footer2__icon-container {
    margin-top: 20px;
  }
}

.navbar {
  max-width: 1044px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 91px;
}
@media (max-width: 1126px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
  }
}
.navbar__burger-container {
  height: 35px;
  width: 50px;
  position: absolute;
  cursor: pointer;
  top: 15px;
  z-index: 10;
  right: 10px;
  display: none;
}
@media (max-width: 1126px) {
  .navbar__burger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.navbar__burger-line {
  height: 3px;
  border-radius: 5px;
  width: 100%;
  background-color: #252b42;
}

.navbar__container {
  display: flex;
  align-items: center;
}

.navbar__left {
  display: flex;
  color: #737373;
  justify-content: space-between;
}
@media (max-width: 1126px) {
  .navbar__left {
    flex-direction: column;
  }
}

.navbar__list-container {
  display: flex;
  margin-left: 50px;
  width: 275px;
  justify-content: space-between;
}
@media (max-width: 1126px) {
  .navbar__list-container {
    flex-direction: column;
    margin: auto;
    display: none;
  }
}

.navbar__list-container-small {
  display: flex;
  margin-left: 50px;
  opacity: 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 1126px) {
  .navbar__list-container-small {
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    right: -10vw;
    width: 30vw;
    background-color: #b2e3ff;
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .navbar__list-container-small {
    right: -5vw;
  }
}

.navbar__list {
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 1126px) {
  .navbar__list {
    width: 100%;
  }
}
.navbar__list::before {
  content: " ";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: #23a6f0;
  transition: 0.3s linear;
  transform-origin: right;
  right: 0;
}
.navbar__list:hover::before {
  width: 100%;
  left: 0;
}
@media (max-width: 1126px) {
  .navbar__list:hover::before {
    display: none;
  }
}
@media (max-width: 1126px) {
  .navbar__list {
    margin: 15px;
    position: relative;
    text-align: center;
  }
  .navbar__list::after {
    content: " ";
    height: 1px;
    opacity: 0.8;
    background-color: #ffffff;
    width: 90%;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar__right {
  display: flex;
  width: 300px;
}
@media (max-width: 1126px) {
  .navbar__right {
    flex-direction: column;
    width: 80vw;
    display: none;
  }
}

.navbar__right-small {
  display: flex;
  width: 500px;
  display: none;
  padding: 10px;
}
@media (max-width: 1126px) {
  .navbar__right-small {
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #b2e3ff;
    border-radius: 0 0 0 5px;
    right: -10vw;
    width: 30vw;
    z-index: 2;
    top: 285px;
  }
}
@media (max-width: 767px) {
  .navbar__right-small {
    right: -5vw;
  }
}

.navbar__logo {
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1126px) {
  .navbar__logo {
    position: absolute;
    top: 20px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .navbar__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar__login {
  color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
  transition-duration: 0.5s;
}
@media (max-width: 1126px) {
  .navbar__login {
    margin: 5px;
    text-align: center;
  }
}
.navbar__login:hover {
  transform: scale(1.1);
}

.navbar__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

* {
  font-family: "montserrat";
}

::placeholder {
  color: #737373;
  font-size: 14px;
  line-height: 28px;
  font-family: "montserrat";
}

.practice-advice {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23a6f0;
  margin: 10px 0;
}
@media (max-width: 1126px) {
  .practice-advice {
    padding: 0 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b42;
  margin-top: 10px;
}
@media (max-width: 1126px) {
  .title {
    padding: 0 30px;
  }
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin: 10px 0;
  margin: 10px 0;
  width: 469px;
  font-weight: 500;
}
@media (max-width: 1126px) {
  .description {
    padding: 0 30px;
  }
}

.description-center {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  width: 469px;
  margin: auto;
  margin-top: 10px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .description-center {
    max-width: 80vw;
  }
}
@media (max-width: 1126px) {
  .description-center {
    padding: 0 30px;
  }
}

@media (max-width: 1120px) {
  .description-center,
.description,
.title,
.practice-advice,
.leading-medicine__link-text {
    padding: 0 30px;
    flex-direction: column;
  }
}
.button__joinus {
  transition-duration: 0.8s;
}

.navbar__button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 137px;
  height: 52px;
  background-color: #23a6f0;
  opacity: 1;
  margin: auto;
  text-transform: uppercase;
  display: flex;
  transition-duration: 0.5s;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}
.navbar__button:hover {
  color: #23a6f0;
  background-color: #ffffff;
  border: 1px solid #23a6f0;
}
.navbar__button:hover .button__joinus {
  transform: translateX(35%);
}

.home__button-primary:hover .button-primary__container:hover {
  transform: rotateX(0.5turn);
}

.button-primary__front {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #23a6f0;
  color: #ffffff;
  position: absolute;
  height: 52px;
  width: 193px;
  display: grid;
  place-items: center;
  transform: translateZ(30px);
  transition-timing-function: linear;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition-duration: 0.3s;
  inset: 0 0 0 0;
}
.button-primary__back {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid #23a6f0;
  background-color: #ffffff;
  color: #23a6f0;
  position: absolute;
  height: 52px;
  width: 193px;
  display: grid;
  place-items: center;
  transform: translateZ(70px);
  transition-timing-function: linear;
  transform: rotateX(0.5turn);
  z-index: -1;
  transition-duration: 0.3s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  inset: 0 0 0 0;
}

.home__button-primary {
  height: 52px;
  width: 193px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  background-color: #ffffff;
  transition: transform 1s;
}

.button-primary__container {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  height: 52px;
  width: 193px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.button-white__container {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  width: 162px;
  height: 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.home__button-white {
  width: 162px;
  background-color: none;
  height: 52px;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  color: #23a6f0;
  transition: transform 1s;
}

.home__button-white:hover .button-white__container:hover {
  transform: rotateX(0.5turn);
  transition: transform 1s;
}

.button-white__front {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #23a6f0;
  color: #23a6f0;
  position: absolute;
  width: 162px;
  height: 52px;
  display: grid;
  place-items: center;
  transform: translateZ(30px);
  transition-timing-function: linear;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition-duration: 0.3s;
  inset: 0 0 0 0;
}
.button-white__back {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid #23a6f0;
  background-color: #23a6f0;
  color: #ffffff;
  position: absolute;
  width: 162px;
  height: 52px;
  display: grid;
  place-items: center;
  transform: translateZ(30px);
  transition-timing-function: linear;
  transform: rotateX(0.5turn);
  z-index: -1;
  transition-duration: 0.3s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  inset: 0 0 0 0;
}

.specialize__button-circle {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 45px;
  transition-duration: 0.3s;
  display: grid;
  place-items: center;
  margin: 0px 5px;
}
.specialize__button-circle:hover {
  transform: rotateZ(360deg) scale(1.2);
}

.specialize__button-rectangle {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 44px;
  width: 141.14px;
  border-radius: 37px;
  border: 1px solid #23a6f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  margin-top: 10px;
  transition-duration: 0.3s;
}
.specialize__button-rectangle:hover {
  background-color: #23a6f0;
  color: #ffffff;
}
.specialize__button-rectangle:hover div {
  transform: translateX(15%);
  transition-duration: 0.5s;
}

.pricing__button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 52px;
  width: 243px;
  display: grid;
  place-items: center;
  background-color: #23a6f0;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.pricing__button:hover {
  background-color: #ffffff;
  border: 1px solid #23a6f0;
  color: #23a6f0;
}
.pricing__button:hover p {
  transform: rotateX(360deg);
}
@media (max-width: 1126px) {
  .pricing__button {
    margin: auto;
  }
}

.pricing p {
  transition-duration: 0.3s;
}

.joinus__button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  background-color: #23a6f0;
  color: #ffffff;
  height: 58px;
  width: 117px;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
  padding: 5px;
  transition-duration: 0.3s;
  font-weight: 500;
}
.joinus__button:hover {
  background-color: #ffffff;
  color: #23a6f0;
  border: 1px solid #23a6f0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

.home__shape-topleft {
  height: 177px;
  width: 7.5vw;
  background-color: #b2e3ff;
  position: absolute;
  top: 0px;
  border-radius: 0 0 50% 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1126px) {
  .home__shape-topleft {
    width: 20vw;
  }
}

.home__shape-topright {
  height: 700px;
  width: 48vw;
  background-color: #b2e3ff;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  border-radius: 0 0 0 100px;
}
@media (max-width: 1126px) {
  .home__shape-topright {
    display: none;
  }
}
@media (max-width: 767px) {
  .home__shape-topright {
    display: none;
  }
}

.home__shape-lightblue {
  height: 70px;
  width: 70px;
  background: #e2f6ff;
  border-radius: 0 100% 0 0;
}
@media (max-width: 1200px) {
  .home__shape-lightblue {
    display: none;
  }
}
@media (max-width: 1126px) {
  .home__shape-lightblue {
    display: none;
  }
}

.home__shape-pink {
  background-color: #ffdce0;
  height: 76px;
  width: 45px;
  margin-bottom: 21.5px;
  border-radius: 0 75px 75px 0;
}
@media (max-width: 1200px) {
  .home__shape-pink {
    display: none;
  }
}
@media (max-width: 1126px) {
  .home__shape-pink {
    display: none;
  }
}

.home__popup-square {
  position: absolute;
  right: 363px;
  top: 110px;
  z-index: 1;
}
@media (max-width: 1126px) {
  .home__popup-square {
    display: none;
  }
}

.popup__list-left {
  font-size: 10px;
  color: #b2e3ff;
  font-weight: 500;
  line-height: 15px;
}

.home__popup-rectangle {
  position: absolute;
  transform: translateX(-30%);
  bottom: 0px;
  z-index: 1;
}
@media (max-width: 1126px) {
  .home__popup-rectangle {
    display: none;
  }
}
@media (max-width: 1200px) {
  .home__popup-rectangle {
    transform: translateX(-15%);
  }
}

.leading-medicine__popup-rectangle {
  position: absolute;
  top: 325px;
  left: 78px;
  height: 110px;
  width: 362px;
}
@media (max-width: 1200px) {
  .leading-medicine__popup-rectangle {
    display: none;
  }
}

.leading-medicine__popup-square {
  position: absolute;
  left: 282px;
  top: 48px;
}
@media (max-width: 1200px) {
  .leading-medicine__popup-square {
    display: none;
  }
}

.specialize__sale {
  background-color: #e74040;
  width: 51px;
  height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1019607843);
  display: grid;
  place-items: center;
  border-radius: 4px;
}

.popup__list-left-active {
  font-size: 13px;
  line-height: 15px;
  color: #23a6f0;
  font-weight: 500;
}

.popup__list-container-right {
  font-size: 13px;
  color: #b2e3ff;
  font-weight: 300;
  line-height: 15px;
}

.activity__card {
  height: 288px;
  width: 328px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
}

.activity__card-image {
  margin-top: 40px;
  margin-left: 42.5px;
}

.activity__card-title {
  margin-left: 42.5px;
  margin-top: 25px;
  position: relative;
}
.activity__card-title:after {
  position: absolute;
  bottom: -20px;
  content: " ";
  height: 2px;
  width: 50px;
  left: 0;
  background-color: #e74040;
}

.activity__card-description {
  margin-left: 42.5px;
  margin-top: 40px;
  width: 132px;
  height: 60px;
  font-weight: 500;
}

.specialize__card {
  height: 678px;
  width: 348px;
}
@media (max-width: 1126px) {
  .specialize__card {
    height: 900px;
    width: 600px;
  }
}
@media (max-width: 767px) {
  .specialize__card {
    height: 678px;
    width: 348px;
  }
}

.specialize__image-container {
  height: 300px;
  width: 348px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 348px 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1126px) {
  .specialize__image-container {
    height: 510px;
    width: 600px;
    background-size: 600px 510px;
  }
}
@media (max-width: 767px) {
  .specialize__image-container {
    height: 300px;
    width: 348px;
    background-size: 348px 300px;
  }
}
.specialize__image-container--first {
  background-image: url("../assets/specialize1.png");
}
.specialize__image-container--second {
  background-image: url("../assets/specialize2.png");
}
.specialize__image-container--third {
  background-image: url("../assets/specialize3.png");
}

.specialize__button-container {
  display: flex;
  justify-content: center;
}

.specialize__text-container {
  padding: 25px;
}

.specialize__department-container {
  display: flex;
  justify-content: space-between;
}

.specialize__rating {
  width: 50px;
  height: 26px;
  border-radius: 20px;
  background-color: #252b42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.specialize__card-title {
  margin-top: 11px;
}

.specialize__card-description {
  width: 280px;
  height: 60px;
  font-weight: 500;
  margin-top: 10px;
}

.specialize__sales-container {
  margin-top: 14px;
}

.specialize__sales-text {
  margin-left: 10px;
}

.specialize__price-container {
  margin-top: 15px;
}

@media (max-width: 1126px) {
  .specialize__info-container {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .specialize__info-container {
    width: 100%;
  }
}

.specialize__info {
  margin-left: 5px;
  font-weight: 500;
}

.pricing__card {
  height: 908px;
  width: 323px;
  padding: 50px 40.5px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
  position: relative;
}
@media (max-width: 1126px) {
  .pricing__card {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .pricing__card {
    width: 323px;
  }
}
.pricing__card:nth-child(2)::after {
  position: absolute;
  content: "New";
  background-color: #e77c40;
  top: 0px;
  right: 0;
  transform: translate(30%, -30%);
  height: 90px;
  width: 89px;
  border-radius: 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: grid;
  place-items: center;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .pricing__card:nth-child(2)::after {
    height: 70px;
    width: 69px;
  }
}
@media (max-width: 1126px) {
  .pricing__card:nth-child(2)::after {
    height: 90px;
    width: 89px;
  }
}
@media (max-width: 767px) {
  .pricing__card:nth-child(2)::after {
    height: 55px;
    width: 55px;
    font-size: 16px;
  }
}

.pricing__card-title {
  margin-top: 35px;
}

.pricing__card-description-bold {
  width: 203px;
  margin-top: 35px;
}
@media (max-width: 1126px) {
  .pricing__card-description-bold {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .pricing__card-description-bold {
    width: 203px;
  }
}

.pricing__price {
  margin-top: 35px;
}

.pricing__card-description-regular {
  width: 200px;
  height: 60px;
  margin-top: 35px;
}
@media (max-width: 1126px) {
  .pricing__card-description-regular {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .pricing__card-description-regular {
    width: 200px;
  }
}

@media (max-width: 1126px) {
  .pricing__list-container {
    padding-top: 20px;
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .pricing__list-container {
    width: 100%;
  }
}

.pricing__list {
  margin-top: 19px;
  height: 32px;
  display: flex;
  align-items: center;
}

.pricing__list-text {
  margin-left: 10px;
}

.client__card {
  width: 348px;
  height: 317px;
  padding-top: 55px;
}

.client__star-container {
  display: flex;
  justify-content: space-between;
  height: 22px;
  width: 130px;
  margin: auto;
}

.client__card-description {
  width: 159px;
  height: 120px;
  margin: auto;
  margin-top: 15px;
  font-weight: 500;
}

.client__name-container {
  display: flex;
  height: 50px;
  width: 159px;
  margin: auto;
  margin-top: 30px;
}

.client__image {
  margin-right: 15px;
}

.client__designer {
  font-size: 12px;
  line-height: 16px;
  color: #252b42;
}

.container {
  max-width: 1045px;
  margin: auto;
}

.leading-medicine__container,
.specialize__container,
.pricing__container,
.client__container,
.activity__container,
.joinus__container {
  padding: 160px 0;
}
.footer__container {
  padding: 50px 0;
}

.footer2__container {
  padding: 25px 0;
}
