.footer2 {
	padding: 25px 198px;
	display: flex;
	justify-content: space-between;
	background-color: #fafafa;
}
.footer2__socialicons {
	margin: 0 10px;
}
.footer2__iconcontainer {
	min-width: 140px;
}
