@use "../abstract/mixins" as *;
.footer {
	padding: 50px 198px;

	width: 100%;
	@include respond-to("mobile") {
		padding: 50px 50px;
	}
	@include respond-to("laptop") {
		padding: 50px 100px;
	}
}
.footer__gridcontainer {
	width: 75%;
	display: grid;
	gap: 30px;
	min-width: 150px;
	grid-template-columns: repeat(auto-fill, (minmax(140px, 1fr)));
}

.footer__title {
	margin-bottom: 20px;
}
.footer__itemcontainer {
	display: flex;
	width: 100%;
	margin-top: 10px;
	align-items: center;
}
.footer__item,
.footer__item--right {
	margin-left: 10px;
}

.footer__column--right {
	width: 290px;
}
