@use "../abstract/mixins" as *;
@use "../abstract/variables" as variable;

.home {
	// height: calc(100vh - 91px);
	max-width: 1308px;
	margin: auto;
}
.home__container {
	width: calc(100% - 132px);
	height: calc(100% - 160px);
	float: right;
	display: flex;

	@include respond-to("mobile") {
		width: calc(100% - 20px);
	}
	@include respond-to("tablet") {
		width: calc(100% - 50px);
	}
	@include respond-to("laptop") {
		width: calc(100% - 50px);
	}
}
.home__welcome {
	font-size: 16px;
	line-height: 24px;
	color: variable.$primary-color;
	font-weight: 700;
}
.home__herosection {
	width: 50%;
	margin-top: 50px;
	height: 100%;
	position: relative;

	@include respond-to("laptop") {
		width: 100%;
	}
	@include respond-to("tablet") {
		width: 100%;
	}

	@include respond-to("mobile") {
		width: 100%;
	}
}
.home__description {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: variable.$secondary-color;
	width: 520px;
	margin-top: 30px;
	@include respond-to("tablet") {
		max-width: 80%;
	}

	@include respond-to("mobile") {
		max-width: 100%;
	}
}
.herosection__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.herosection__right {
	display: flex;
	flex-direction: row;
	justify-content: right;
	position: relative;
	// align-items: flex-end;
	height: 588px;
	@include respond-to("laptop") {
	}
	@include respond-to("tablet") {
		max-width: 50%;
	}
	@include respond-to("mobile") {
		display: none;
	}
}
.home__title {
	color: variable.$text-color;
	font-size: 58px;
	line-height: 80px;
	margin-top: 30px;
	font-weight: bold;
	@include respond-to("mobile") {
		font-size: 45px;
		line-height: 50px;
	}
}
.home__image {
	position: relative;
	background-image: url(../assets/heroimage.png);

	width: 441px;
	height: 566px;
	@include respond-to("laptop") {
		max-width: 80%;
	}
	@include respond-to("tablet") {
		margin-right: 0;
	}
}
.home__button-container {
	display: flex;
	margin-top: 30px;
}
.home__shape-container {
	width: 86px;
	margin-top: 0;
	padding-left: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
