@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

.leading_medicine {
	background-color: variable.$faded-secondary-color-2;
}
.leading_medicine__container {
	display: flex;
}

.leading_medicine__title {
	&:before {
		position: absolute;
		top: -35px;
		content: " ";
		height: 7px;
		width: 94px;
		background-color: variable.$danger-color;
	}
}

.leading_medicine__left,
.leading_medicine__right {
	width: 50%;
}
.leading_medicine__left {
	margin-top: 34px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include respond-to("tablet") {
		width: 100%;
	}
	@include respond-to("mobile") {
		width: 100%;
	}
}
.leading_medicine__linkcontainer {
	display: flex;
	margin-top: 35px;
	width: 101px;
	height: 24px;
	justify-content: space-between;
	align-items: center;
}
.leading_medicine__right {
	position: relative;
	display: flex;
	@include respond-to("laptop") {
	}
	@include respond-to("tablet") {
	}
	@include respond-to("mobile") {
		display: none;
	}
}
.leading_medicine__testubeimage {
	position: absolute;
	right: -82px;
	object-fit: contain;
	overflow: hidden;
}
.leading_medicine__testubeimagecontainer {
	position: relative;
	height: 396px;
	width: 338px;
	margin-top: 160px;
	background-image: url(../assets/rectangularbackground.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	@include respond-to("laptop") {
		max-width: 80%;
	}

	&::after {
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 34px;
		width: 58px;
		background-color: #fef3d9;
		z-index: 1;
		border-radius: 100px 100px 0 0;
	}
}
