.activity {
	height: 100vh;
}
.activity__container {
	max-width: 1050px;
	margin: auto;
	margin-top: 160px;
}
.activity__description {
	width: 469px;
}
.activity__cardcontainer {
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
}
