@use "../abstract/variables" as variable;

.pricing__container {
	height: 100%;
	width: 100%;
}
.pricing__card-container {
	position: relative;
	margin-top: 80px;
	display: grid;
	place-items: center;
	gap: 30.5px;
	grid-template-columns: repeat(auto-fill, (minmax(328px, 1fr)));
}
.pricing__card-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: variable.$text-color;
}
.pricing__card-description-bold {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
.pricing__price {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$primary-color;
}
.pricing__price-description {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
.pricing__card-description-regular {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
}
.pricing__button {
	font-weight: 700;
	size: 14px;
	line-height: 22px;
	color: variable.$light-text-color;
}
.pricing__list-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}
