.specialize__container {
	height: 100%;
	width: 100%;
}
.specialize__cardcontainer {
	margin-top: 80px;
	display: grid;
	place-items: center;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, (minmax(348px, 1fr)));
}
.specialize__infocontainer {
	display: flex;
	height: 46px;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
