@use "../abstract/variables" as variable;
* {
	font-family: variable.$font;
}
::placeholder {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 28px;
	font-family: variable.$font;
	padding-left: 20px;
}
li {
	list-style: none;
}
.navbar__left {
	color: variable.$secondary-color;
}
.navbar__logo {
	color: variable.$text-color;
	font-weight: 700;
	font-size: 24px;
}
.navbar__list {
	font-weight: 700;
	font-size: 14px;
}
.navbar__login {
	color: variable.$primary-color;
	font-size: 14px;
	font-weight: 700;
}
.home__welcome {
	font-size: 16px;
	line-height: 24px;
	color: variable.$primary-color;
	font-weight: 700;
}
.home__title {
	color: variable.$text-color;
	font-size: 58px;
	line-height: 80px;
	margin-top: 30px;
	font-weight: bold;
}
.home__description {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: variable.$secondary-color;
	width: 520px;
	margin-top: 30px;
}
.navbar__button {
	color: variable.$light-text-color;
	font-size: 14px;
	font-weight: 700;
}
.home__button--primary {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: variable.$light-text-color;
	margin-right: 10px;
}
.home__button--white {
	font-weight: 700;
	font-size: 14px;
	color: variable.$primary-color;
}

// home section
.popup__listleft {
	font-size: 10px;
	color: variable.$faded-primary-color;
	font-weight: 500;
	line-height: 15px;
}

.popup__listleft--active {
	font-size: 13px;
	line-height: 15px;
	color: variable.$primary-color;
	font-weight: 500;
}
.popup__listcontainer--right {
	font-size: 13px;
	color: variable.$faded-primary-color;
	font-weight: 300;
	line-height: 15px;
}

.practiceadvice {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
	margin: 10px 0;
}
.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
	margin: 10px 0;
}
.description {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin: 10px 0;
	margin: 10px 0;
	width: 469px;
}
.description--center {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin: 10px 0;
	margin: 10px 0;
	width: 469px;
	margin: auto;
}

// our activity section

.activity__cardtitle {
	font-weight: 700;
	size: 16px;
	line-height: 24px;
}
.activity__carddescription {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 20px;
}

// leading medicine section

.leading_medicine__title {
	position: relative;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
}
.leading_medicine__description {
	width: 351px;
	height: 60px;
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin-top: 35px;
}
.leading_medicine__linktext {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}

//specialize section

.specialize__sale {
	font-size: 14px;
	font-weight: bold;
	color: variable.$light-text-color;
}
.specialize__departmenttext {
	color: variable.$primary-color;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
.specialize__rating {
	font-size: 12px;
	line-height: 16px;
	color: variable.$light-text-color;
}
.specialize__cardtitle {
	font-size: 16px;
	line-height: 24px;
	color: variable.$text-color;
}
.specialize__carddescription {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
}
.specialize__salestext {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
}
.specialize__price--grey {
	font-size: 16px;
	line-height: 24px;
	color: variable.$muted-color;
	font-weight: 700;
}
.specialize__price--green {
	font-size: 16px;
	line-height: 24px;
	color: variable.$secondary-color-1;
	font-weight: 700;
}
.specialize__info {
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: variable.$secondary-color;
}
.specialize__button--rectangle {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}

//pricing

.pricing__cardtitle {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: variable.$text-color;
}
.pricing__carddescription--bold {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
.pricing__price {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$primary-color;
}
.pricing__pricedescription {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
.pricing__carddescription--regular {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
}
.pricing__button {
	font-weight: 700;
	size: 14px;
	line-height: 22px;
	color: variable.$light-text-color;
}
.pricing__listtext {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

//client

.client__carddescription {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: variable.$secondary-color;
}
.client__designername {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
.joinus {
	text-align: center;
}

//join us

.joinus__button {
	font-size: 14px;
	line-height: 28px;
}

//footer
.footer__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: variable.$text-color;
}
.footer__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
	margin: 10px 0;
}
.footer__item--right {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$secondary-color;
}
