@use "../abstract/variables" as variable;
@use "../abstract/mixins" as *;

* {
	font-family: variable.$font;
}
::placeholder {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 28px;
	font-family: variable.$font;
	padding-left: 20px;
}

.practice-advice {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
	margin: 10px 0;
}
.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
	margin: 10px 0;
}
.description {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin: 10px 0;
	margin: 10px 0;
	width: 469px;

	@include respond-to("mobile") {
		max-width: 80%;
	}
}
.description-center {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
	margin: 10px 0;
	margin: 10px 0;
	width: 469px;
	margin: auto;
	max-width: 80%;
}
