@use "../abstract/variables" as variable;
* {
	font-family: variable.$font;
}
li {
	list-style: none;
}
.navbar__left {
	color: variable.$secondary-color;
}
.navbar__logo {
	color: variable.$text-color;
	font-weight: 700;
	font-size: 24px;
}
.navbar__list {
	font-weight: 700;
	font-size: 14px;
}
.navbar__login {
	color: variable.$primary-color;
	font-size: 14px;
	font-weight: 700;
}
.home__welcome {
	font-size: 16px;
	line-height: 24px;
	color: variable.$primary-color;
	font-weight: 700;
}
.home__title {
	color: variable.$text-color;
	font-size: 58px;
	line-height: 80px;
	margin-top: 30px;
	font-weight: bold;
}
.home__description {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: variable.$secondary-color;
	width: 520px;
	margin-top: 30px;
}
.navbar__button {
	color: variable.$light-text-color;
	font-size: 14px;
	font-weight: 700;
}
.home__button--primary {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: variable.$light-text-color;
	margin-right: 10px;
}
.home__button--white {
	font-weight: 700;
	font-size: 14px;
	color: variable.$primary-color;
}

// home section
.popup__listleft {
	font-size: 10px;
	color: variable.$faded-primary-color;
	font-weight: 500;
	line-height: 15px;
}

.popup__listleft--active {
	font-size: 13px;
	line-height: 15px;
	color: variable.$primary-color;
	font-weight: 500;
}
.popup__listcontainer--right {
	font-size: 13px;
	color: variable.$faded-primary-color;
	font-weight: 300;
	line-height: 15px;
}

// our activity section

.activity__practiceadvice {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: variable.$primary-color;
}
.activity__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: variable.$text-color;
}
.activity__description {
	font-size: 14px;
	line-height: 20px;
	color: variable.$secondary-color;
}
.activity__cardtitle {
	font-weight: 700;
	size: 16px;
	line-height: 24px;
}
.activity__carddescription {
	color: variable.$secondary-color;
	font-size: 14px;
	line-height: 20px;
}
