@use "../abstract/mixins" as *;
@use "../abstract/variables" as variable;

.navbar {
	max-width: 1044px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	height: 91px;
	@include respond-to("tablet") {
		max-width: 80%;
		flex-direction: column;
		align-items: center;
		// background-color: variable.$light_background-color;
	}
	@include respond-to("laptop") {
		max-width: 80%;
	}
	@include respond-to("mobile") {
		max-width: 90%;
	}
}
.navbar__burger-container {
	height: 35px;
	width: 50px;
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 10px;
	display: none;
	@include respond-to("tablet") {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.navbar__burger-line {
	height: 3px;
	border-radius: 5px;
	width: 100%;
	background-color: variable.$text-color;
}
.navbar__container {
	display: flex;
	align-items: center;
}
.navbar__left {
	display: flex;
	color: variable.$secondary-color;
	justify-content: space-between;
	@include respond-to("tablet") {
		flex-direction: column;
	}
}

.navbar__list-container {
	display: flex;
	margin-left: 50px;
	width: 275px;

	justify-content: space-between;
	@include respond-to("tablet") {
		flex-direction: column;
		margin: auto;
		width: 80vw;
		display: none;
	}
}
.navbar__list-container-small {
	display: flex;
	margin-left: 50px;
	width: 275px;
	opacity: 0;

	justify-content: space-between;
	@include respond-to("tablet") {
		flex-direction: column;
		margin: auto;
		width: 80vw;
		margin-top: 10px;
	}
}
.navbar__list {
	cursor: pointer;
	position: relative;
	font-weight: 700;
	font-size: 14px;

	&::before {
		content: " ";
		position: absolute;
		bottom: -5px;
		height: 2px;
		width: 0%;
		background-color: variable.$primary-color;
		transition: 0.3s linear;
		transform-origin: right;
		right: 0;
	}
	&:hover::before {
		width: 100%;
		left: 0;
		@include respond-to("tablet") {
			width: 30%;
			left: 50%;
			transform: translateX(-50%);
			right: 50%;
		}
	}

	@include respond-to("tablet") {
		margin: 15px;
		position: relative;
		text-align: center;

		&::after {
			content: " ";
			height: 1px;
			opacity: 0.8;
			background-color: variable.$text-color;
			width: 25%;
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.navbar__right {
	display: flex;
	// border: 1px solid red;
	width: 300px;
	@include respond-to("tablet") {
		flex-direction: column;
		width: 80vw;
		display: none;
	}
}
.navbar__right-small {
	display: flex;
	// border: 1px solid red;
	width: 300px;
	display: none;
	@include respond-to("tablet") {
		flex-direction: column;
		width: 80vw;
	}
}
.navbar__logo {
	color: variable.$text-color;
	font-weight: 700;
	font-size: 24px;
	@include respond-to("tablet") {
		margin-top: 20px;
	}
}
.navbar__login {
	color: variable.$primary-color;
	font-size: 14px;
	font-weight: 700;
	@include respond-to("tablet") {
		margin: 5px;
	}
}
.navbar__button {
	color: variable.$light-text-color;
	font-size: 14px;
	font-weight: 700;
}
