$text-color: #252b42;
$secondary-color: #737373;
$primary-color: #23a6f0;
$font: "montserrat";
$light-text-color: #ffffff;
$faded-primary-color: #b2e3ff;
$danger-color: #e74040;
$light_background-color: #ffffff;
$faded-secondary-color-2: #ffdcd1;
$dark-background-color: #252b42;
$muted-color: #bdbdbd;
$secondary-color-1: #40bb15;
$alert_color: #e77c40;
$disabled-element-color: #8ec2f2;
