@use "../abstract/mixins" as *;

.container {
	max-width: 1045px;
	margin: auto;
	@include respond-to("laptop") {
		max-width: 1000px;
		margin: auto;
	}
	@include respond-to("tablet") {
		max-width: 667px;
		margin: auto;
	}
	@include respond-to("mobile") {
		max-width: 380px;
		margin: auto;
	}
}

.leading-medicine__container,
.specialize__container,
.pricing__container,
.client__container,
.activity__container,
.joinus__container {
	padding: 160px 0;
	@include respond-to("laptop") {
	}
	@include respond-to("tablet") {
	}
	@include respond-to("mobile") {
	}
}
.footer__container {
	padding: 50px 0;
}
.footer2__container {
	padding: 25px 0;
}
