@use "../abstract/mixins" as *;
@use "../abstract/variables" as variable;

.navbar {
	max-width: 1044px;
	margin: auto;
	display: flex;
	position: relative;
	justify-content: space-around;
	height: 91px;

	@include respond-to("tablet") {
		flex-direction: column;
		justify-content: flex-start;
		margin-left: 30px;
	}
	@include respond-to("laptop") {
	}
	@include respond-to("mobile") {
	}
}
.navbar__burger-container {
	height: 35px;
	width: 50px;
	position: absolute;
	cursor: pointer;
	top: 15px;
	z-index: 10;
	right: 10px;
	display: none;
	@include respond-to("tablet") {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	@include respond-to("mobile") {
		right: 10px;
	}
}

.navbar__burger-line {
	height: 3px;
	border-radius: 5px;
	width: 100%;
	background-color: variable.$text-color;
}
.navbar__container {
	display: flex;
	align-items: center;
}
.navbar__left {
	display: flex;
	color: variable.$secondary-color;
	justify-content: space-between;
	@include respond-to("tablet") {
		flex-direction: column;
	}
}

.navbar__list-container {
	display: flex;
	margin-left: 50px;
	width: 275px;

	justify-content: space-between;
	@include respond-to("tablet") {
		flex-direction: column;
		margin: auto;
		display: none;
	}
}
.navbar__list-container-small {
	display: flex;
	margin-left: 50px;

	opacity: 0;
	position: relative;
	z-index: 1;

	@include respond-to("tablet") {
		flex-direction: column;
		margin: auto;
		align-items: center;
		position: absolute;
		top: 60px;
		right: 5px;
		width: 200px;
		background-color: variable.$faded-primary-color;
		color: variable.$light-text-color;
	}
	@include respond-to("mobile") {
		right: 5px;
	}
}
.navbar__list {
	cursor: pointer;
	position: relative;
	font-weight: 700;
	font-size: 14px;
	@include respond-to("tablet") {
		width: 100%;
		padding: 10px;
	}

	&::before {
		content: " ";
		position: absolute;
		bottom: -5px;
		height: 2px;
		width: 0%;
		background-color: variable.$primary-color;
		transition: 0.3s linear;
		transform-origin: right;
		right: 0;
	}
	&:hover::before {
		width: 100%;
		left: 0;
		@include respond-to("tablet") {
			display: none;
		}
	}

	@include respond-to("tablet") {
		margin: 15px;
		position: relative;
		text-align: center;

		&::after {
			content: " ";
			height: 1px;
			opacity: 0.8;
			background-color: variable.$light-text-color;
			width: 90%;
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.navbar__right {
	display: flex;
	// border: 1px solid red;
	width: 300px;
	@include respond-to("tablet") {
		flex-direction: column;
		width: 80vw;
		display: none;
	}
}
.navbar__right-small {
	display: flex;
	// border: 1px solid red;
	width: 500px;
	display: none;
	padding: 10px;
	@include respond-to("tablet") {
		flex-direction: column;
		align-items: center;
		position: absolute;
		background-color: variable.$faded-primary-color;
		border-radius: 0 0 0 5px;
		right: 5px;
		width: 200px;
		z-index: 2;
		top: 325px;
	}
	@include respond-to("mobile") {
		right: 5px;
	}
}
.navbar__logo {
	color: variable.$text-color;
	font-weight: 700;
	font-size: 24px;

	position: relative;
	z-index: 5;
	@include respond-to("tablet") {
		position: absolute;
		top: 20px;
		left: 0;
	}
	@include respond-to("mobile") {
		left: 0%;
	}
}
.navbar__login {
	color: variable.$primary-color;
	font-size: 14px;
	font-weight: 700;
	transition-duration: 0.5s;
	@include respond-to("tablet") {
		margin: 25px;
		text-align: center;
	}
	&:hover {
		transform: scale(1.1);
	}
}
.navbar__button {
	color: variable.$light-text-color;
	font-size: 14px;
	font-weight: 700;
}
