$text-color: #252b42;
$secondary-color: #737373;
$primary-color: #23a6f0;
$font: "montserrat";
$light-text-color: #ffffff;
$faded-primary-color: #b2e3ff;
$danger-color: #e74040;
$light_background-color: #ffffff;
